<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function (){
            let memberName = "[[${session.memberName}]]";
            let boardMemberName = "[[${boardDetail.member.name}]]";

            console.log("세션에 담긴 회원 번호"+memberName);
            console.log("세션에 담긴 게시판 회원 번호"+boardMemberName);

            if (memberName === boardMemberName){
                $(".board-detail__delete-button").css('display', 'block');
                $(".board-detail__update-button").css('display', 'block');
            } else {
                $(".board-detail__delete-button").css('display', 'none');
                $(".board-detail__update-button").css('display', 'none');
            }

        });
    </script>
</head>
<body>
    <h1>게시판 상세페이지</h1>
    <table bordercolor="black">
        <thead>
            <tr>
                <th th:text="${boardDetail.title}"></th>
                <td th:text="${#dates.format(boardDetail.time, 'yyyy-MM-dd')}"></td>
                <th th:text="${boardDetail.member.name}" ></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <div>
                        <p th:text="${boardDetail.content}"></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="board-detail__update-button">
        <a th:href="@{/board/update/{no}(no = ${boardDetail.no})}">
            <button> 수정 </button>
        </a>
    </div>

    <div class="board-detail__delete-button">
        <a th:href="@{/board/delete/{no}(no = ${boardDetail.no})}">
            <button> 삭제 </button>
        </a>
    </div>

    <div class="comments">
        <h2>
            댓글
            <span class="count"></span>
        </h2>
        <form method="post" action="">
            <div class="comments-form">
                <textarea name="comment" cols rows="4" placeholder="여러분의 소중한 댓글을 입력해 주세요"></textarea>
                <div class="submit">
                    <button type="submit" class="btn">등록</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>