<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function (){
            let memberName = "[[${session.memberName}]]";
            let boardMemberName = "[[${boardDetail.member.name}]]";

            console.log("세션에 담긴 회원 번호"+memberName);
            console.log("세션에 담긴 게시판 회원 번호"+boardMemberName);

            if (memberName === boardMemberName){
                $(".board-detail-delete-button").css('display', 'block');
                $(".board-detail-update-button").css('display', 'block');
            } else {
                $(".board-detail-delete-button").css('display', 'none');
                $(".board-detail-update-button").css('display', 'none');
            }
        });
    </script>
</head>
<body>
    <h1>게시판 상세페이지</h1>
    <table bordercolor="black">
        <thead>
            <tr>
                <th th:text="${boardDetail.title}"></th>
                <td th:text="${#dates.format(boardDetail.time, 'yyyy-MM-dd')}"></td>
                <th th:text="${boardDetail.member.name}" ></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <div>
                        <p th:text="${boardDetail.content}"></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="board-detail-update-button">
        <a th:href="@{/board/update/{no}(no = ${boardDetail.no})}">
            <button> 수정하기 </button>
        </a>
    </div>

    <div class="board-detail-delete-button">
        <a>
            <button> 삭제하기 </button>
        </a>
    </div>

</body>
</html>