<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>




</head>
<body>
    <h1> Welcome to Board </h1>
    <div>
        <a href="write">
            <button>새로운 글 작성하기</button>
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.no}">
            </td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/{no}(no = ${board.no})}"></a>
            </td>
            <td th:text="${board.member.name}"></td>
            <td th:text="${board.time}"></td>
        </tr>
        </tbody>


    </table>


    <div>
        <a href="write">
            <button>새로운 글 작성하기</button>
        </a>
    </div>

</body>
</html>