<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>




</head>
<body>
    <h1> Welcome to Board </h1>
    <div>
        <a href="write">
            <button>새로운 글 작성하기</button>
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>


    </table>
</body>
</html>