<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/icons/fontawesome/all.js"></script>
    <script>
        $(document).ready(function (){
            const memberName = "[[${session.memberName}]]";

            let totalPage = Number("[[${totalPage}]]");
            let page =  Number("[[${page}]]");

            const SHOW_PAGE = 5;

            //세션에 객체가 담겼을 때
            if(memberName.length !== 0){
                $(".insert-board").css('display', 'block');
                $(document).on('click', '.insert-board', function (){
                    location.href = 'write';
                })
            }else{
                $(".insert-board").css('display', 'none')
            }

            $('.prev').on("click", function (event){
                event.preventDefault();
                document.location.href = "/board/list?page="+ (page - 1);
                console.log("prev가 실행되었습니다.");
            })

            $('.next').on("click", function (event){
                event.preventDefault();
                document.location.href = "/board/list?page="+ (page + 1);
                console.log("next 실행되었습니다.");
            })

            if(page === 1){
                $('.prev').off("click");
            }

            if(page === totalPage){
                $('.next').off("click");
            }

            //총 페이지의 수가 5개 이하일때
            if(totalPage <= SHOW_PAGE){
                for(let i = totalPage; i > totalPage ; i--){
                    $(".prev").after("<a href='/board/list?page="+ i + "'><span>" + i +"</span></a>");
                }
            }else {
                for(let i = page + 3; i >= page - 3; i-- ){
                    if(i > 0 && i <= totalPage){
                        console.log(i);
                        $(".prev").after("<a href='/board/list?page="+ i + "'><span>" + i +"</span></a>");
                    }
                }
                if(page > 5){
                    $(".prev").after("<a href='/board/list?page=1'><span>1</span></a>" +
                        "<a><span><i class=\"fa fa-ellipsis-h\" aria-hidden=\"true\"></i></span></a>");
                }
                if(page < totalPage - 5){
                    $(".next").before("<a><span><i class=\"fa fa-ellipsis-h\" aria-hidden=\"true\"></i></span></a>" +
                        "<a href='/board/list?page="+ totalPage + "'><span>" + totalPage +"</span></a>");
                }
            }
        });
    </script>
</head>
<body>
    <h1> Welcome to Board </h1>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <td><span th:text="${boardStat.count} + ${offset}  "></span></td>
                <td><a th:text="${board.title}" th:href="@{/board/{no}(no = ${board.no})}"></a></td>
                <td th:text="${board.member.name}"></td>
                <td th:text="${board.time}"></td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a class="prev">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="next">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
    </div>

    <div class="insert-board">
        <button>새로운 글 작성하기</button>
    </div>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
</body>
</html>