<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Update 페이지 입니다.</h1>
    <form action="/board/update" method="post" class="board-write-from">
        <div>
            <input name="no" type="hidden" th:value="${boardUpdate.no}">
        </div>
        <div>
            <input name="title" type="text" class="board-write-from__title" th:value="${boardUpdate.title}">
        </div>
        <div>
            <textarea name="content" class="board-write-from__content" th:text="${boardUpdate.content}" th:value="${boardUpdate.content}"></textarea>
        </div>
        <div>
            <button class="board-write__btn">수정완료</button>
        </div>
    </form>
</body>
</html>