<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    </script>
</head>
<body>
    <h1>게시글을 작성해주세요</h1>
    <form action="/board/write" method="post" class="board-write-from">
        <div>
            <input name="title" type="text" class="board-write-from__title" placeholder="제목을 작성해주세요"/>
        </div>
        <div>
            <textarea name="content" class="board-write-from__content" placeholder="게시물을 작성해주세요"></textarea>
        </div>
        <div>
            <button class="board-write__btn">작성하기</button>
        </div>

    </form>
</body>
</html>