<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>Welcome to Practice site</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       $(document).ready(function (){
           let memberName = "[[${session.memberName}]]";
           console.log("자바스크립트" + memberName);

           if(memberName.length !== 0){
               $(".welcome").css('display', 'block')
               $(".sign-up-button").css('display', 'none')
               $(".login-button").css('display', 'none')
           } else {
               $(".welcome").css('display', 'none')
           }
       });
    </script>
</head>
<body>
    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to Test Page</h1>
    </header>
        <div class="welcome">
            <h1>안녕하세요 <span class="test" th:text="${session.memberName}"></span> 님!</h1>
        </div>

        <a href="join" class="sign-up-button">
            <button> Sign Up</button>
        </a>

        <a href="login" class="login-button">
            <button>login</button>
        </a>

        <a href="board/list">
            <button>board</button>
        </a>
</body>
</html>