<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join Us</title>
</head>
<body>
    <h1>Welcome To Join Us!</h1>
    <form action="join" method="post" class="join-form">
        <input name="name" class="join-form__input" type="text" placeholder="name"/>
        <input name="email" class="join-form__input" type="email" placeholder="Email"/>
        <input name="password" class="join-form__input" type="password" placeholder="Password"/>
        <input class="join-form__btn" type="submit" value="Sign Up">
    </form>
</body>
</html>