<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.practice.mapper.BoardMapper">

    <resultMap id="Board" type="com.practice.practice.model.Board">
        <result property="no" column="no"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
        <result property="view" column="view"/>
        <result property="memberNo" column="member_no"/>
        <collection property="member" resultMap="Member"/>
    </resultMap>

    <resultMap id="Member" type="com.practice.practice.model.Member">
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insertBoard" parameterType="com.practice.practice.model.Board">
        insert into board(title, content, time, member_no, view) values (#{title}, #{content}, sysdate(), #{memberNo}, 0);
    </insert>


    <select id="selectBoardList" resultType="com.practice.practice.model.Board" resultMap="Board">
        select b.no, b.title, b.time, m.name
        from board b, member m
        where m.no = b.member_no
        order by time desc
        limit #{limit} offset #{offset};
    </select>

    <select id="countBoard" parameterType="Integer" resultType="Integer">
        select count(*) from board;
    </select>

    <select id="selectBoardDetail"  parameterType="Integer" resultMap="Board">
        select b.no, b.title, b.content, b.time, b.view, m.name
        from member m, board b
        where m.no = b.member_no
        and b.no = #{no};
    </select>

    <update id="updateBoard" parameterType="com.practice.practice.model.Board" >
        update board set title=#{title}, content=#{content} where no=#{no};
    </update>

    <delete id="deleteBoard">
        delete from board where no=#{no};
    </delete>

</mapper>