<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.practice.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.practice.practice.model.Member">
        insert into member(name, email, password) values (#{name},#{email},#{password});
    </insert>

    <select id="selectMember" parameterType="com.practice.practice.model.Member" resultType="com.practice.practice.model.Member">
        select * from member where email=#{email};
    </select>
</mapper>